altair
numpy
pandas
pydeck
streamlit
scikit-learn    ==          1.3.2
scipy           ==          1.11.4
seaborn         ==          0.13.0
matplotlib      ==          3.8.2
xgboost         ==          2.0.3